.nav-link {
    margin-left: 3rem;
    font-size: 25px;
    color: white;
}
.nav-link:hover {
  
    color: rgba(255, 255, 255, 0.438);
}
@media (min-width: 992px) {
    .navbar-float {
        position: absolute;
        top: 0;
        width: 100%;
    }
}
@media (max-width: 400px) {
    .carousel_img {
        max-height: 300px;
        min-height: 300px;
    }
    .carousel-control-prev-icon {
        border-radius: 2px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        position: absolute;
        left: 0;
        height: 100px;
        width: 80px;
        background-color: white;
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke='black'  viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
      border-radius: 2px;
      position: absolute;
      right: 0;
      height: 100px;
        width: 80px;
      background-color: white;
     
      
    }
}
@media (min-width: 401px) and (max-width: 600px) {
    .carousel_img {
        max-height: 400px;
        min-height: 400px;
    }
    .carousel-control-prev-icon {
        border-radius: 2px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        position: absolute;
        left: 0;
        height: 100px;
        width: 80px;
        background-color: white;
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke='black'  viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
      border-radius: 2px;
      position: absolute;
      right: 0;
      height: 100px;
        width: 80px;
      background-color: white;
     
      
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    .carousel_img {
        max-height: 400px;
        min-height: 400px;
    }
    .carousel-control-prev-icon {
        border-radius: 2px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        position: absolute;
        left: 0;
        height: 100px;
        width: 80px;
        background-color: white;
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke='black'  viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
      border-radius: 2px;
      position: absolute;
      right: 0;
      height: 100px;
        width: 80px;
      background-color: white;
     
      
    }
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
 
  .carousel-caption {
      position: absolute;
      bottom: 40%;
      transform: translateY(-50%);
  }
  
body {
    background-color: black;
    
}
.see_more {
    background-image: linear-gradient(to right,#ff918557,#ff918557 ), url(https://i.pinimg.com/originals/1a/e8/d9/1ae8d96dddf32e7e22eb23ff4593848d.jpg);
    background-attachment: fixed;
}
